.menu-position-list {
    display: flex;
    width: 1080px;
    align-items: center;
    flex-wrap: wrap;
}

.positionPlaceholder {
    pading-top:1px;
    display: block;
    width: 537px;
    position: relative;
    height: 182px;
    overflow: hidden;
    text-align: left;
    padding: 0px;
}
.positionPlaceholder.index0 img {
    margin-left: -183px;
    margin-top: -180px;
    width: 358px;
    opacity: 0.7;
}
.positionPlaceholder.index3{
    text-align: right;
}
.positionPlaceholder.index3 img {
    margin-left: 9px;
    margin-top: -180px;
    width: 360px;
    opacity: 0.7;
    margin-right: -180px;
}

.positionPlaceholder.index2 img {
    margin-left: -187px;
    width: 358px;
    opacity: 0.7;
    margin-top: 4px;
}
