.menu-position-left {
    display: block;
    width: 536px;
    position: relative;
    background-color: white;
    padding: 2px 2px;
    height: 175px;
}
.menu-position-left__button{
    border:1px solid silver;
    border-radius: 2px;
}
.menu-position-left__image_column{
    overflow: hidden;
    display: inline-block;
    width: 178px;
    height: 178px;
}
.focused .menu-position-left__image_column{
    overflow: visible;
    z-index: 10000;
    position:relative;
}

.menu-position-left__info_column{
    overflow: hidden;
    width: 358px;
    display: inline-block;
    flex-direction: column;
    vertical-align: top;
}
.focused .menu-position-left__info_column__name{
    color:#009471;
}
.focused .menu-position-left__info_column__description{
    color:black;
}

.focused .menu-position-left__info_column {
    overflow: hidden;
    display: inline-block;
    flex-direction: column;
    vertical-align: top;
    background: linear-gradient(to top left, white, white, white, #e6d5a4);
}
.menu-position-left__info_column__name{
    text-align: right;
    font-size: 20px;
}
.menu-position-left__info_column__description{
    padding-right:5px;
    height:100px;
    overflow:hidden;
}

.menu-position-left__info_column .option-selector{
    float:right;
}
.menu-position-left.reflected{
    margin-bottom: 10px;
}

.menu-position-left__wrap{
    height: 15vh;
}

.menu-position-left__image_non_pizza{
    width:178px;
}

.menu-position-left__image{
    display: block;
    width: 358px;
}

.menu-position-left__image.reflected{
    margin-top: -180px;
    transform: rotate(180deg);
}
.focused .menu-position-left__image.reflected{
    margin-top: -180px;
    transform: rotate(0deg);
}

.menu-position-left__info_column__description{
    font-size:14px;
    color:#bfb7b6;
    text-align:left;
}
.menu-position-left__info_column .button{
    margin: 0;
    margin-right: 9vw;
}
.menu-position-left__info_column .option-selector{
    text-align: right;
}

.menu-position-left__info_column__purchase{
    text-align: left;
}
.menu-position-left__info_column .button {
    margin: 0;
    width: 100px;
}
