.option-selector{
    display: block;
}
.option-selector__value{
    font-size:16px;
    display: inline-block;
    border:1px solid silver;
    padding:1px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.active_selector{
    background-color: #009471;
    color:white;
}
.option-selector__name{
    font-size:14px;
    display:inline-block;
    padding:1px 10px;
}
