.image-loader {
   /* border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;*/
    background-image: url("p.png");
    width: 48px;
    height: 48px;
    animation: spin 2s linear infinite;
    margin: 62px;
}
.hidden-image{
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
