.modal__wrapper {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal__wrapper.active{
    display: block;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
}

.close,.remove {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
}

.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.close:hover,
.close:focus,
.remove:hover,
.remove:focus{
    color: indianred;
    text-decoration: none;
    cursor: pointer;
}
.remove{
    margin-left: auto;
}

.modal__order_button{
    border: 1px solid #009471;
    background-color: #009471;
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
    color: white;
    cursor: pointer;
}
.modal__order_button:hover{
    border: 1px solid #009471;
    background-color: #00af8a;
}
.modal__position_list_header{
    margin-top:0px;
}
.modal__position_list__position_image,modal__position_list__position_info{
    display: inline-block;
    pading:2px 10px;
}
.modal__position_list__position_image img{
    height: 64px;
}
.modal__position_list__position{
    display: flex;
    flex-direction: row;
}
.modal__delivery_info__label{
    width: 100px;
    display: inline-block;
    text-align: right;
    padding-right: 5px;
}
.modal__position_list__position_info{
    text-align: left;
    padding: 0px 5px;
}
.modal__confirm_order_button{
    border: 1px solid #009471;
    background-color: #009471;
    padding: 5px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.modal__confirm_order_button:hover{
    border: 1px solid #009471;
    background-color: #00af8a;
}
