.modal__wrapper {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal__wrapper.visible{
    display: block;
}

.modal__wrapper.active {
    display: block;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: max-content;
    border-radius: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close:hover,
.close:focus{
    color: indianred;
    text-decoration: none;
    cursor: pointer;
}

.modal__close_button{
    border: 1px solid #009471;
    background-color: #009471;
    padding: 5px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
